@import 'src/components/common/assets/styles/mixin';
@import 'src/components/common/assets/styles/variables';

.form-container {
	.form-group {
		.has-error {
			border-color: $formErrMgsColor;
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(214, 85, 85, 0.6);
			&:focus {
				border-color: $formErrMgsColor;
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(214, 85, 85, 0.6);
			}
		}
	}
}
