.loader-overlay {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: transparent;
  opacity: 0.8;
  filter: alpha(opacity=80);


  .page-loader {
    width: 100%;
    height: auto;
  }
}
