@import "common-styles/site-mixins";
@import "common-styles/variable";

.checkbox {
  &.has-error {
    i + span {
      color: $vendorRegFontColor;
    }
  }

  .checkbox-item {
    position: relative;
  }

  i {
    display: none;
  }

  &.custom {

    label {
      padding-left: 20px;
    }

    input[type="checkbox"] {
      width: 13px;
      height: 13px;
      margin: 0;
      position: absolute;
      top: 2px;
      left: 0;
      cursor: pointer;
      opacity: 0;
      z-index: 1;

      &:checked + i:after {
        background: $atlantis_dark;
      }

      &:disabled {
        cursor: not-allowed;

        & + i {
          opacity: .5;
        }
      }
    }

    i {
      width: 13px;
      height: 13px;
      display: block;
      position: absolute;
      top: 2px;
      left: 0;
      border: 1px solid $atlantis_dark;
      z-index: 0;

      &:after {
        content: '';
        width: 7px;
        height: 7px;
        display: block;
        margin: 2px;
        position: absolute;
        background: $white;
        z-index: 0;
      }
    }
  }
}
